#hero.home-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/images/Home.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#hero.about-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/images/About.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#hero.contact-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/images/Contact.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#hero.projects-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/images/Projects.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#hero.faq-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/images/FAQ.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
